@import "main";

.colorCard {
  justify-self: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  width: 100%;

  &__photo {
    display: block;
    background-position-x: 50%;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 300px;
    width: 100%;
  }
}

.colorInfo {
  border-radius: 0 0 5px 5px;
  padding: 10px 20px 15px;

  &__name {
    font-family: $headerFont;
    font-size: 1.125em;
  }

  &__hexCode {
    text-transform: uppercase;
  }

  &__link {
    float: right;
  }
}