@import "main";

.colorList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 30px;
  list-style-type: none;
  margin: 30px auto 0;
  max-width: 900px;
}