@import "main";

.navigator {
  background: linear-gradient(#F5EFCA 2%, #BA9D73 8%, #BA9D73 92%, #634B34 96%);
}

.menu {

  @extend .content;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  list-style-type: none;

  &__item {
    flex: 0 0 auto;
    display: inline;
    text-align: center;
    padding: 10px 20px;
    width: 200px;

    &Link {
      text-shadow: none;
      transition: text-shadow 500ms;
      &:hover {
        text-shadow: 1px 0 0 #000000;
      }

      color:  #051A1A;
      font-size: 1.125em;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}